.cartIsClear{
  flex: 1;
  overflow: auto;
  text-align: center;
  margin: auto auto;

  h2{
    font-weight: 600;
  }
  h4{
    opacity: 0.5;
    font-weight: 500;
    font-size: 17px;
  }
  button{
    margin-top: 10px;
    width: 200px;
    height: 40px;

    background-color: #9DD458;
    border: 0 solid;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    transition: opacity 0.2s ease-in-out;
    &:hover{
      opacity: 0.8;
    }

  }


}